#chat-screen {
  background-color: rgb(137, 176, 194);
  height: 1000vh;
}

#chat-screen .alt-header {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 20px;
  background-color: rgb(137, 176, 194);
}

.main-chat {
  margin-top: 128px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat_timestamp {
  color: white;
  background-color: rgb(154, 168, 177);
  padding: 15px;
  border-radius: 25px;
  margin-bottom: 35px;
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}

.message-row img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 13px;
}

.message__author {
  opacity: 0.8;
  font-size: 15px;
  display: block;
  margin-bottom: 10px;
}

.message__bubble {
  background-color: white;
  padding: 10px 15px;
  border-radius: 15px;
  border-top-left-radius: 0px;
  margin-right: 5px;
  font-weight: 500;
  font-size: 18px;
}

.message__info {
  display: flex;
  align-items: flex-end;
}

.message__time {
  opacity: 0.8;
  font-size: 12px;
}

.message-confirm {
  justify-content: flex-end;
}

.message-confirm .message__info {
  flex-direction: row-reverse;
}

.message-confirm .message__bubble {
  background-color: yellow;
  border-top-right-radius: 0px;
  border-top-left-radius: 15px;
  margin-left: 5px;
  margin-right: 0px;
}

.reply {
  position: fixed;
  bottom: 0px;
  width: 100%;
  display: flex;
  background-color: white;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 5px 25px;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.reply .reply__column:first-child {
  width: 10%;
}

.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}

.reply input {
  height: 30px;
  width: 100%;
  border: var(--main-border);
  border-radius: 20px;
  padding: 8px;
  transition: all 0.3s ease-in-out;
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: 0;
  top: 3px;
  right: -15px;
}

.reply__column:last-child > i {
  right: 40px;
  top: 17px;
}

.reply__column button {
  background-color: rgb(255, 255, 0);
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
}

.reply__column button:focus,
.reply__column button:active {
  outline: none;
}

.reply i {
  opacity: 0.5;
}

.reply__column button i {
  opacity: 1;
}

.reply .reply__column:first-child,
.reply .fa-smile-wink,
.reply button {
  transition: opacity 0.3s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile-wink,
.reply:focus-within button {
  opacity: 0;
}

.reply:focus-within input {
  width: 95vw;
  transform: translateX(-10%) translateY(-80px);
}

.reply:focus-within {
  transform: translateY(80px);
}
